<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

<div class="container h-100 py-4">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <p><span class="h2">Giỏ hàng</span><span class="h4"></span></p>
      <div class="table-responsive">
        <table class="table " id ="cart">
          <thead>
            <tr>
              <th scope="col">Sản phẩm</th>
              <th scope="col">Giá</th>
              <th scope="col">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSố lượng</th>
              <th scope="col">Tổng</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each sp}}
            <tr>
              <td scope="row" >
                <div class="d-flex align-items-center">
                  <img src="{{this.item.image}}" class="img-fluid rounded-3" style="width: 120px;" >
                  <div class="ms-4">
                    <p class="mb-2" style="font-weight: bold;">{{this.item.name}}</p>
                    <p class="mb-0">Mã sản phẩm: #{{this.item._id}}</p>
                  </div>
                </div>
              </td>
              <td class="align-middle">
                <p class="mt-2 price" id="productPrice{{indexNum @index 1}}" data-value="{{this.item.price}}">{{this.item.price}} VNĐ</p>
              </td>
              <td class="align-middle">
                <div class="d-flex flex-row">
                  <span class="btn btn-primary px-2 quantity_minus" id="btn_minus{{indexNum @index 1}}"><i class="bi bi-dash"></i></span>
                  <input min="1" name="quantity" disabled id="quantity{{indexNum @index 1}}" data-id="{{this.item._id}}" data-number="{{indexNum @index 1}}" value="{{this.quantity}}" type="number" class="form-control form-control-sm quantity" style="width: 40px;" />
                  <span class="btn btn-primary px-2 quantity_plus" id="btn_plus{{indexNum @index 1}}"><i class="bi bi-plus"></i></span>
                </div>
              </td>
              <td class="align-middle">
                <p class="mt-2 full-price" id="product{{indexNum @index 1}}" data-value="{{this.price}}">{{this.price}} VNĐ</p>
              </td> 
              <td class="align-middle">
                <a class="btn btn-primary btn_ConfirmDelete" data-id="{{this.item._id}}"
                data-bs-toggle="modal" data-bs-target="#deletecartitem" id="delete{{indexNum @index 1}}"><i class="bi-trash3"></i></a> 
                <!--<a class="btn btn-primary" href="/cart/delete/{{this.item._id}}?_method=DELETE"><i class="bi-trash3"></i></a> -->
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{#isEmptyCart sp}}
      <p class="display-5">Bạn chưa có sản phẩm nào!</p>
      {{else}}
      <div class="card mb-3">
        <div class="card-body ">
          <div class="float-end">
            <p class="mb-0 me-5 d-flex align-items-center">
              <p class="display-6 me-2" id="totalPrice" data-value="{{cart.totalPrice}}">Tổng: <span class="lead fw-normal" id="total"></span>{{cart.totalPrice}} VNĐ</p>
            </p>
          </div>
        </div>
      </div>
      {{/isEmptyCart}}
      <div class="d-flex justify-content-end">
        <a href="/products"><button type="button" class="btn btn-light btn-lg me-2">Tiếp tục mua hàng</button></a>
        <button type="button" class="btn btn-primary btn-lg">Thanh toán</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletecartitem" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa sản phẩm này khỏi giỏ hàng?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" value="" id="btn_Yes" name="btn_Yes">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  let totalItem = $(".btn_ConfirmDelete").length;
  let id;
  console.log(totalItem);
  //Format giá tiền khi load trang
  let tongTien=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format($('#totalPrice').data('value'));
  $('#totalPrice').html("Tổng: "+ tongTien);
  for(let i=0;i<=totalItem;i++){
    let price=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format($('#productPrice'+i).data('value'));
    let productPrice=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format($('#product'+i).data('value'));
    $('#productPrice'+i).html(price);
    $("#product"+i).html(productPrice);
  }
  //Gán event cho các nút delete
  for(let i=1;i<=totalItem;i++){
    $("#delete"+i).on("click",()=>{
      id = $('#delete'+i).data('id');
      $('#btn_Yes').val(id);
      console.log(id);
      });
  }
  //Thực hiện gọi ajax khi đồng ý xóa
  $(document).off('click', '#btn_Yes').on('click', '#btn_Yes', DeleteItem);
  function DeleteItem(){
    var itemId=$('#btn_Yes').val();
    //console.log(itemId);
    $.ajax({
        url: '/cart/delete/'+id,
        type: 'DELETE',
        error: (res, status)=>{
          window.location.href="../cart";
        }
      }).then(data=>{
       window.location.href="../cart";
      });
  }

  //Gán sự kiện gọi ajax khi nhấn tăng giảm
  for(let i=1;i<=totalItem;i++){

    $('#btn_plus'+i).on('click',()=>{
      let newValue = $('#quantity'+i).val();
      let id=$('#quantity'+i).data('id');
      let num=$('#quantity'+i).data('number');
      let total=document.getElementById('totalPrice');
      let product = document.getElementById('product'+num);
      $('#quantity'+i).val(parseInt(newValue)+1);
      $.ajax({
        url: '/cart/inc/' + id,
        type: 'PUT',
      }).then(data=>{
        let tongGiaSp = parseFloat(product.dataset.value)+data.price;
        let tongTien=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.total);
        let tongGia=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(tongGiaSp);
        console.log(parseFloat(data.price))
        console.log(parseFloat(product.dataset.value))
        total.innerHTML="Tổng: " + tongTien ;
        product.innerHTML=tongGia ;
        product.dataset.value=tongGiaSp;
      });
    });
    $('#btn_minus'+i).on('click',()=>{
      let newValue = $('#quantity'+i).val();
      if(newValue==1){
        return true;
      }
      else{
        let id=$('#quantity'+i).data('id');
        let num=$('#quantity'+i).data('number');
        let total=document.getElementById('totalPrice');
        let product = document.getElementById('product'+num);
        $('#quantity'+i).val(parseInt(newValue)-1);
        $.ajax({
          url: '/cart/reduce/' + id,
          type: 'PUT',
        }).then(data=>{
          let tongGiaSp = parseFloat(product.dataset.value)-data.price;
          let tongTien=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.total);
          let tongGia=new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(tongGiaSp);
          console.log(tongGia)
          total.innerHTML="Tổng: " + tongTien ;
          product.innerHTML=tongGia;
          product.dataset.value= tongGiaSp ;
        });
      }
    });
  }
  
</script>

