<div>
  <!-- Tabs navs -->
  <!-- Pills content -->
  <div class="tab-content" id="ex1-content">

    {{!--nahn --}}

    <div class="carousel-container slite_magin">
      <a class="slick-arrow slick-prev">
        <i class="glyphicon glyphicon-menu-left"></i>
      </a>

      <div class="slick-list">
        <div class="slick-track">
          <div id="lastClone" class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true"
            style="width: 100%;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image" src="https://trangsuc.doji.vn/Upload/banner/2022/12/banner-trang-chu-1920x703.jpg"
                  alt="">
              </a>
            </div>
          </div>

          <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 100%;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image" src="https://trangsuc.doji.vn/Upload/banner/2022/10/banner-top-1920x703.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 100%;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image"
                  src="https://trangsuc.doji.vn/Upload/banner/banner-trang-chu/wedding-land-1920x703.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 100%;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image" src="https://cdn.pnj.io/images/promo/146/Banner_tabsale_T12_Scheme_1972x640CTA.jpg"
                  alt="">
              </a>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 100%;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image" src="https://cdn.pnj.io/images/promo/146/Banner_tabsale_T12_Scheme_1972x640.jpg"
                  alt="">
              </a>
            </div>
          </div>
          <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 100%;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image" src="https://cdn.pnj.io/images/promo/146/Banner_tabsale_T12_Scheme_1972x640.jpg"
                  alt="">
              </a>
            </div>
          </div>

          <div id="firstClone" class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true"
            style="width: 584px;">
            <div>
              <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                <img class="image"
                  src="https://trangsuc.doji.vn/Upload/banner/banner-trang-chu/wedding-land-1920x703.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <a class="slick-arrow slick-next">
        <i class="fas fa-angle-right"></i>
      </a>

      <ul class="slick-dots">
        <li class="slick-active">
          <button>1</button>
        </li>
        <li class="">
          <button>2</button>
        </li>
        <li class="">
          <button>3</button>
        </li>
        <li class="">
          <button>4</button>
        </li>
        <li class="">
          <button>5</button>
        </li>
      </ul>
    </div>

    {{!-- --}}

    {{!-- <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
      <!--Tab 1 content -->

      <h1>Sản phẩm nổi bật</h1>
      <!--product-->
      <div class="container">
        <div class="row">
          {{#each products}}
          <div class="card col-4 border-light">
            <div class="card-header text-center">
              <a href="/products/detail/{{this._id}}">
                <img class="w-75" src="{{this.image}}">
              </a>
            </div>
            <div class="card-body text-center">
              <a href="/products/detail/{{this._id}}" class="text-secondary decoration-none">
                <p class="card-text">{{this.name}}</p>
              </a>
              <p class="card-text" id="price{{indexNum @index 1}}" value="1">{{this.price}}</p>
              <button class="btn btn-outline-success"><i class="bi bi-bag-plus"></i>Thêm vào giỏ hàng</button>
              <div class="d-flex justify-content-center gy-5">
                <a href="/products/edit/{{this._id}}" class="btn btn-info"><i class="bi bi-pencil-square"></i>Chỉnh
                  sửa</a>
                <a href="/products/delete/{{this._id}}?_method=DELETE" class="btn btn-danger"><i
                    class="bi bi-x-circle"></i>Xóa</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <!--product-->
      <!--Tab 1 content -->
    </div> --}}



    <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
      Tab 2 content
    </div>
    <div class="tab-pane fade" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
      Tab 3 content
    </div>
  </div>
  <!-- Pills content -->
  <!-- Tabs navs -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var arrowLeft = document.querySelector('.slick-prev');
      var arrowRight = document.querySelector('.slick-next');

      var slickTrack = document.querySelector('.slick-track');
      var slickSlice = document.querySelectorAll('.slick-slide');
      var slickDots = document.querySelectorAll('.slick-dots li');

      var btn = document.querySelectorAll('.slick-dots button');
      var eleIsClicked = 0;

      var size = slickSlice[0].clientWidth;
      var count = 1, time = 4000;
      var stateTab = true;
      var stateTranslateOfSlickTrack = true;
      var v_interval = "";

      var hidden, visibilityChange;
      if (typeof document.hidden !== "undefined") {
        hidden = "hidden";
        visibilityChange = "visibilitychange";
      } else if (typeof document.msHidden !== "undefined") {
        hidden = "msHidden";
        visibilityChange = "msvisibilitychange";
      } else if (typeof document.webkitHidden !== "undefined") {
        hidden = "webkitHidden";
        visibilityChange = "webkitvisibilitychange";
      }

      function handleVisibilityChange() {
        stateTab = (document[hidden]) ? false : true;
        if (stateTab) {
          run_setInterval();
        } else {
          run_clearInterval();
        }
      }

      document.addEventListener(visibilityChange, handleVisibilityChange, false);

      // Khi click vào arrow left
      arrowLeft.addEventListener("click", function (e) {
        if (stateTranslateOfSlickTrack) {
          run_clearInterval();
          commonFuncBothArrows(true, false, e);
          run_setInterval();
        }
      });

      // Khi click vào arrow right
      arrowRight.addEventListener("click", function (e) {
        if (stateTranslateOfSlickTrack) {
          run_clearInterval();
          commonFuncBothArrows(false, true, e);
          run_setInterval();
        }
      });

      function commonFuncBothArrows(arrowL, arrowR, e) {
        e.preventDefault();
        stateTranslateOfSlickTrack = false;
        if (arrowL) {
          if (count <= 0) { return; }
        } else {
          if (arrowR) {
            if (count >= slickSlice.length - 1) { return; }
          }
        }
        slickDots[count - 1].classList.remove('slick-active');
        slickTrack.style.transition = `transform 0.5s ease-in-out`;
        count = arrowL ? --count : ++count;
        console.log('count - ' + count);
        slickTrack.style.transform = `translate3d(${-size * count}px,0px,0px)`;
        eleIsClicked = count - 1;
        switch (count) {
          case 0:
            slickDots[slickDots.length - 1].classList.add('slick-active');
            break;
          case slickSlice.length - 1:
            slickDots[0].classList.add('slick-active');
            break;
          default:
            slickDots[count - 1].classList.add('slick-active');
            break;
        }
      }

      btn.forEach((elem) => {
        elem.addEventListener('click', () => {
          if (stateTranslateOfSlickTrack) {
            run_clearInterval();
            slickTrack.style.transition = `transform 0.5s ease-in-out`;
            count = Number(elem.textContent);
            console.log("eleIsClicked - btn - " + eleIsClicked)
            slickDots[eleIsClicked].classList.remove('slick-active');
            slickDots[count - 1].classList.add('slick-active');
            slickTrack.style.transform = `translate3d(${-size * count}px,0px,0px)`;
            eleIsClicked = count - 1;
            run_setInterval();
          }
        });
      });

      run_setInterval();
      function run_setInterval() {
        v_interval = setInterval(() => {
          slickDots[count - 1].classList.remove('slick-active');
          slickTrack.style.transition = "transform 0.5s ease-in-out";
          slickTrack.style.transform = `translate3d(${-size * (++count)}px,0px,0px)`;
          console.log('count - ' + (count))
          eleIsClicked = count - 1;
          if (count === slickSlice.length - 1) {
            slickDots[0].classList.add('slick-active');
          } else {
            slickDots[count - 1].classList.add('slick-active');
          }
        }, time);
      }

      function run_clearInterval() {
        clearInterval(v_interval);
      }

      slickTrack.addEventListener('transitionend', () => {
        stateTranslateOfSlickTrack = true;
        let nameClassSlickSlide = slickSlice[count].id;
        if (nameClassSlickSlide === 'lastClone' || nameClassSlickSlide === 'firstClone') {
          slickTrack.style.transition = `none`;
          count = (nameClassSlickSlide === 'lastClone') ? slickSlice.length - 2 : (nameClassSlickSlide === 'firstClone') ? 1 : count;
          eleIsClicked = count - 1;
          slickTrack.style.transform = `translateX(-${size * count}px)`;
        }
      })
    }, false)
  </script>
</div>