<br>
<br>
<div class="container">
    <div class="row">
        {{#each products}}
        <div class="card col-3 border-light mb-3 " >
            <div class="card-header text-center">
                <a href="/products/detail/{{this._id}}">
                    <img class="w-75"
                        src="{{this.image}}">
                </a>
            </div>
            <div class="card-body text-center">
                <a href="/products/detail/{{this._id}}" class="text-secondary decoration-none" >
                    <p class="card-text">{{this.name}}</p>
                </a>
                <p class="card-text">{{this.price}} đ</p>
                <a href="/products/restore/{{this._id}}" class="btn btn-success"><i class="bi bi-recycle"></i>Khôi phục</button></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    {{#each (listPagination limitPage)}}
    <li class="page-item">
      <a href="/products/{{indexNum @index 1}}" class="page-link active">{{indexNum @index 1}}</a>
    </li>
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
