<br>
<div class="row">
    <div class="col-10">
        
    </div>
    <div class="col-2 gap-3 ">
        <a href="/products/new" class="btn btn-success"><i class="bi bi-plus-circle"></i> Thêm</a>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        {{#each products}}
        <div class="card col-3 border-light mb-3 " >
            <div class="card-header text-center">
                <a href="/products/detail/{{this._id}}">
                    <img class="w-75"
                        src="{{this.image}}">
                </a>
            </div>
            <div class="card-body text-center">
                <a href="/products/detail/{{this._id}}" class="text-secondary decoration-none" >
                    <p class="card-text">{{this.name}}</p>
                </a>
                <p class="card-text">{{this.price}} đ</p>
                <button class="btn btn-outline-success"><i class="bi bi-bag-plus"></i>Thêm vào giỏ hàng</button>
                <div class="d-flex justify-content-center gy-5">
                    <a href="/products/edit/{{this._id}}" class="btn btn-info"><i class="bi bi-pencil-square"></i>Chỉnh sửa</a>
                    <a href="/products/delete/{{this._id}}?_method=DELETE" class="btn btn-danger"><i class="bi bi-x-circle"></i>Xóa</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div>
  <ul class="pagination d-flex justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#">&laquo;</a>
    </li>
    {{#each (listPagination limitPage)}}
    <li class="page-item">
      <a href="/products/{{indexNum @index 1}}" class="page-link active">{{indexNum @index 1}}</a>
    </li>
    {{/each}}
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
  </ul>
</div>
